
    body {
        background-color: ghostwhite;
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

/**Navigation Bar**/
    .navBar {
        background-color: gainsboro;/*aliceblue*/
        overflow: hidden;
        position: -webkit-sticky;
        position: sticky;
        top: 2px;
        padding: 5px;
    }
    .navBar p {
        color: black;
        text-align:left;
        font-size: 1.5em;
        padding-left: 20px;
        font-family: 'Noto Sans', sans-serif;
    }
    /*Link Styles*/
    .navBar a {
        display: block;
        float: right;
        color:blue;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 0.9em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    /*Hovering over pages*/
    .navBar a:hover {
        color:navy;
    }
    /*Current Page On*/
    .navBar a.active {
        color: grey;
    }
    /*Hamburger Icon ByeBye*/
    .navBar .icon {
        display: none;
    }
    /*Be Seen My Hamburger*/
    @media screen and (max-width: 800px) {
        .navBar a:not(:last-child){display: none;}
        .navBar a.icon {
            float: right;
            display: block;
        }
        .navBar.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
    }